/* ======= [LOGIN] ======= */

/*  ============================  */
/* ======> DISEÑO DEL LOGIN <===== */
/*  ============================  */

.adminLogin {

    --space-1r:1rem;
    --space-8:8px;

    max-width: 800px;
    width: 90%;

    display: flex;
    gap: var(--space-1r);

    background: var(--bg-600);
    backdrop-filter: var(--filter-sm);

    border: 1px solid var(--bg-400);
    border-radius: var(--radius-xl);
    margin: auto;

    padding: var(--space-1r);

    /* ======= [LADO IZQUIERDO DE LOGIN IMAGEN] ======= */

    .login_left {
        flex: 0 0 40%;
        max-width: 40%;

        img {
            display: block;
            overflow: hidden;
            object-fit: cover;
            width: 100%;
            height: auto;

            border-radius: var(--radius-xl) ;
        }

    }

    /* ======= [LADO DERECHO DEL LOGIN INPUTS] ======= */

    .login_right {
        flex: 0 60%;
        max-width: 60%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: var(--space-1r);

        .rightPrecentacion h1 {
            text-align: center;
            font-size: 2rem;
        }

        .rightForm {
            display: flex;
            flex-direction: column;
            gap: var(--space-1r);

            .item {
                display: flex;
                flex-direction: column;
                gap: 10px;
                width: 100%;

                & label {
                    font-size: 14px;
                    font-weight: bold;
                }

                & input {
                    background: var(--bg-500);
                    border: 1px solid var(--bg-400);
                    border-radius:var(--radius-lg);

                    padding: 6px 12px;
                }
            }

            /* ======= [DISEÑOS DE BOTONES DE LOGIN] ======= */

            & button {
                cursor: pointer;
                background: var(--color-red);
                border-radius:var(--radius-lg);
                display: flex;
                align-items: center;
                justify-content: center;
                border: none;
                padding: 8px 12px;
                transition: 0.3s ease-in-out;

                &:hover {
                    transform: translateY(-2px);
                    box-shadow: 3px 3px 8px var(--bg-500);
                }

                &:active {
                    transform: translateY(2px);
                    box-shadow: 1px 1px 3px var(--bg-500);
                }
            }

            .iniciando {
                background: var(--bg-500);
                border: 1px solid var(--bg-300);
                color: var(--bg-300);
                gap: var(--space-8);
                padding: var(--space-8);

                & span {
                    width: var(--space-8);
                    height: var(--space-8);
                    background: var(--bg-300);
                    animation: circle 0.6s ease-in-out infinite;
                }

                & span:nth-child(1) {
                    animation-delay: 0s;
                }

                & span:nth-child(2) {
                    animation-delay: 0.2s;
                }

                & span:nth-child(3) {
                    animation-delay: 0.4s;
                }
            }

            .redirigiendo {
                background-color: var(--color-green);
                border: 1px solid rgb(31, 100, 52);
                position: relative;
            }

        }
    }
}

@keyframes circle {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-2px);
    }
}

/* ======= [REPONSIVILIDAD EN MOVIL] ======= */

/*  ===============================================  */
/* ======> DISEÑO DE LA LOGIN EN TAMAÑO 768PX <===== */
/*  ===============================================  */

@media (max-width:768px) {

    .adminLogin {
        display: flex;
        flex-direction: column;

        .login_left,
        .login_right {
            flex: 0 0 100%;
            max-width: 100%;
        }

        .login_left img {
            height: 300px;
            object-fit: contain;
        }
    }
}