/*<===<ESTILOS GENERALES DEL HEADER>===<*/

.header {
    max-width: 1000px;
    width: 90%;
    position: fixed;
    z-index: 1000;

    top: 2%;

    left: 50%;
    translate: -50%;

    display: flex;
    flex-direction: column;

    animation: enhance-header linear both;
    animation-timeline: scroll(root);
    animation-range: 0 200px;

    /*<===<ESTILOS GENERALES PARA LAS DOS PARTES>===<*/

    .headerTop,
    .headerBottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    /* ================================== */
    /*<===<APARTE SUPERIOR DEL HEADER>===<*/
    /* ================================== */

    .headerTop {
        max-height: 200px;
        overflow: hidden;
        opacity: 1;
        transform: translateY(0);
        transition: all 0.3s ease-in-out;
        padding-bottom: 12px;

        .logo img {
            display: block;
            overflow: hidden;
            border-radius: var(--radius-xl);
            object-fit: contain;
        }

        .action {
            display: flex;
            gap: 14px;

            .buttom {
                display: flex;
                border: none;
                background: none;
                transition: 0.3s ease-in-out;

                & svg {
                    width: 22px;
                    height: 22px;
                }
            }
        }
    }

    /*====================================*/
    /*<===<APARTE INFERIOS DEL HEADER>===<*/
    /*====================================*/

    .headerBottom {

        .nav {
            display: inline-flex;
            gap: 1rem;



            .navLinks {
                transition: 0.3s ease-in-out;

                &:hover {
                    color: var(--color-red);
                }
            }

            .active {
                color: var(--color-green);
                text-shadow: 0 0 10px var(--color-green);
            }
        }

        .search_container {
            position: relative;

            & svg {
                position: absolute;
                top: 25%;
                left: 5%;
                pointer-events: none;
            }

            .search_input {
                width: 225px;
                padding: 8px 8px 8px 32px;
                border-radius: var(--radius-xl);
                border: 1px solid var(--bg-400);

                background-color: var(--bg-600);
                backdrop-filter: var(--filter-sm);
            }

        }


        .movilBotton {
            width: 40px;
            height: 40px;

            display: none;

            background-color: var(--bg-600);
            backdrop-filter: var(--filter-sm);

            border: none;
            border-radius: var(--radius-xl);

            font-size: 1rem;

            padding: 6px;
        }

    }

}

/*================================*/
/*<===<ANIMACIONES DEL HEADER>===<*/
/*================================*/

@keyframes enhance-header {
    to {
        background-color: var(--bg-600);
        backdrop-filter: var(--filter-sm);
        border-radius: var(--radius-2xl);
        padding: 14px;
    }
}

.headerCollapsed .headerTop {
    max-height: 0;
    opacity: 0;
    transform: translateY(-10%);
    pointer-events: none;
    padding: 0;
}

.headerExpanded .headerTop {
    opacity: 1;
    transform: translateY(0);
}

/* ================================ */
/*<===<DISEÑO DE REPONSIVILIDAD>===<*/
/* ================================ */

@media (max-width:764px) {
    .header {
        width: 95%;
        padding: 0 1rem;



        .headerBottom {
            position: relative;

            .movilBotton {
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .search_container {

                & svg {
                    left: 5%;
                }
            }

            .nav {
                width: 100%;
                display: flex;
                flex-direction: column;
                position: fixed;
                margin-top: 15px;
                left: 0.2%;
                top: 100%;

                background-color: var(--bg-600);
                backdrop-filter: var(--filter-md);
                border-radius: var(--radius-lg);

                padding: 1rem;
                transform: translateX(-32rem);
                transition: transform 0.3s ease-in-out;
            }

            .navOpen {
                transform: translateX(0);
            }
        }
    }
}