/* =========== */
/* <===< Variables y Modos>===< */
/* =========== */

:root {
  --background: #ffffff;
  --foreground: #171717;
  --fonts-primario: "Montserrat", sans-serif;
  --fonts-casual: "Audiowide", sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/*=======================*/
/*<===< Reset BÃSICO>===<*/
/*=======================*/


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: repeating-linear-gradient(45deg,
      #1e1e1e,
      #1e1e1e 20px,
      #2b2b2b 20px,
      #2b2b2b 40px);
  min-height: 100vh;
  font-family: var(--fonts-primario);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

p {
  text-wrap: pretty;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}