/* =========== */
/* <===< Variables y Modos>===< */
/* =========== */

:root {
  --bg-gradient: linear-gradient(180deg, #fff 0%, #e0e0e0 100%);

  --text-600: #333333;
  --text-500: #555555;

  --color-green: rgb(64, 176, 64);
  --color-red: rgb(180, 10, 25);
  --color-yellow: rgb(255, 184, 10);
  --color-blue: #3d68c1;


  --fonts-primario: "Montserrat", sans-serif;
  --fonts-casual: "Audiowide", sans-serif;


  --backdrop-filter: blur(6px);

  --border-radius: 8px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-gradient: linear-gradient(180deg, #0d0d0d 0%, #1a1a1a 100%);

    --bg-600: rgba(30, 33, 36, 0.7);
    /*card externo*/
    --bg-500: #2a2d30;
    /*card mas interno*/
    --bg-400: #3a3d40;
    /* este seria el borde*/

    --text-600: #ededed;
    --text-500: #d8d2d2;
  }

}

/*=======================*/
/*<===< Reset BÃSICO>===<*/
/*=======================*/


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--text-600);
  background: var(--bg-gradient);

  min-height: 100vh;
  font-family: var(--fonts-primario);

  --sb-track-color: #232E33;
  --sb-thumb-color: #6BAF8D;
  --sb-size: 8px;

  &::-webkit-scrollbar {
    width: var(--sb-size);
  }

  &::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background: var(--color-blue);
    border-radius: 8px;
  }
}


h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

p {
  text-wrap: pretty;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}


/*===========================*/
/*<===< CLASES GLOBALES >===<*/
/*===========================*/

.Activo {
  color: var(--color-green);
  text-shadow: 0 0 10px var(--color-green);
}

.Inactivo {
  color: var(--color-red);
  text-shadow: 0 0 10px var(--color-red);
}

.Suspendido {
  color: var(--color-yellow);
  text-shadow: 0 0 10px var(--color-yellow);
}

.Retirado {
  color: var(--color-blue);
  text-shadow: 0 0 10px var(--color-blue);
}