/*  ================================================== */
/* ======> DISEÑO DEL ASIDEBAR DE ADMINITRACIÓN <====== */
/*  ================================================== */

.asidebar {
    top: 0;
    position: sticky;
    width: 225px;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    background: var(--bg-600);
    backdrop-filter: var(--filter-sm);
    border: 1px solid var(--bg-400);
    border-radius: 0 20px 20px 0;

    padding: 16px;
    transition: width 0.3s ease-in-out;

    /* =======<[Sidebar Imagen]>======= */
    .asidebarImg {
        display: flex;
        justify-content: flex-end;
        position: relative;
        border-bottom: 1px solid var(--bg-400);

        padding-bottom: 12px;


        & img {
            width: 100%;
            height: auto;
            display: block;
            object-fit: cover;
            border-radius: 0 12px 0 0;
        }

        /* =======<[Sidebar Colasado]>======= */
        .asidebarCollapse {
            width: auto;
            position: absolute;
            top: 10px;
            right: -36px;
            padding:0;

            & button {
                display: flex;
                align-items: center;
                justify-content: center;

                 background-color: var(--bg-500);

                cursor: pointer;
                border: none;
                border-radius: 8px;
                padding: 8px;
                transition: 0.3s ease-in-out;

                & svg {
                    width: 22px;
                    height: 22px;

                    transition: 0.3s ease-in-out;
                }

                &:hover {
                    background: var(--bg-400);
                }
            }
        }
    }

    /* =======<[Sidebar navegacion]>======= */
    .asidebarNav {
        width: 100%;

        display: flex;
        flex-direction: column;
        flex-grow: 1;

        padding-top: 12px;

        .navList {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 6px;

            list-style: none;

            .navItem {
                border-radius: 12px;
                padding: 10px 16px;
                transition: 0.3s ease-in-out;

                .ItemLink {
                    display: flex;
                    align-items: center;

                    .linkIcon {
                        margin-right: 10px;
                    }

                    .linkText {
                        transition: opacity 0.3s ease;
                        opacity: 1;
                    }

                    & svg {
                        width: 20px;
                        height: 20px;
                    }
                }

                .navItemButton {
                    cursor: pointer;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    background: transparent;
                    border: none;
                    gap: 10px;

                    & svg {
                        width: 20px;
                        height: 20px;
                    }
                }

                &:hover {
                    background: var(--bg-500);
                }
            }

            .active {
                background: var(--color-blue);
            }
        }

        .navListSecondary {
            margin-top: auto;
            padding-top: 12px;
            border-top: 1px solid var(--bg-400);
        }

    }
}

/* =======<[Sidebar colasapdo]>======= */

.asidebarCollapse {
    width: 80px;
    padding: 14px;

    .asidebarImg {

        & img {
            border-radius: 8px;
        }

        .asidebarCollapse {
            top: 0;
            right: -3.8rem;

            & button svg {
                transform: rotate(180deg);
            }
        }
    }

    .asidebarNav {

        .navList {

            .navItem {

                .ItemLink,
                .navItemButton {
                    cursor: pointer;

                    .linkIcon {
                        margin-right: 0px;
                        margin: 0 auto;
                    }

                    .linkText {
                        opacity: 0;
                        pointer-events: none;
                        display: none;
                    }
                }
            }
        }
    }
}

.menuToggle {
    display: none;
}

@media (max-width: 768px) {

    .asidebarCollapse {
        display: none !important; /* Oculta el sidebar colapsado */
    }

    .menuToggle {
        display: block;
        position: fixed;
        top: 1rem;
        left: 1rem;
        z-index: 1001;
        background: var(--bg-500);
        color: white;
        border: none;
        padding: 0.5rem 0.75rem;
        border-radius: 8px;
        font-size: 1.5rem;
        cursor: pointer;
        z-index: 2000;
    }

    .overlay {
        position: fixed;
        inset: 0;
        background: rgba(0, 0, 0, 0.4);
        backdrop-filter: var(--filter-lg);
        z-index: 1000;
    }

    .asidebar {
        position: fixed;
        top: 0;
        left: 0;
        width: 225px;
        transform: translateX(-100%);
        transition: transform 0.3s ease-in-out;
        z-index: 1000;
    }

    .showMobile {
        transform: translateX(0);
    }

    .closeButton {
        position: absolute;
        top: 1rem;
        right: 1rem;
        background: var(--bg-400);
        border: none;
        color: white;
        font-size: 1.25rem;
        border-radius: 8px;
        padding: 0.25rem 0.5rem;
        cursor: pointer;
        z-index: 1003;
    }
}