.asidebar {
    top: 0;
    position: sticky;
    width: 225px;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    background: var(--bg-600);
    backdrop-filter: var(--backdrop-filter);
    border: 1px solid var(--bg-400);
    border-radius: 0 20px 20px 0;

    padding: 16px;
    transition: width 0.3s ease-in-out;

    .asidebarImg {
        display: flex;
        justify-content: flex-end;
        position: relative;

        & img {
            width: 100%;
            height: auto;
            display: block;
            object-fit: cover;
            border-radius: 0 12px 0 0;
            margin-bottom: 1.25rem;
        }

        .asidebarCollapse {
            width: auto;
            position: absolute;
            top: 10px;
            right: -36px;

            padding: 0;

            transition: 0.3s ease-in-out;


            & button {
                display: flex;
                align-items: center;
                justify-content: center;

                background: var(--bg-400);
                cursor: pointer;
                border: none;
                border-radius: 8px;
                padding: 8px;

                transition: 0.3s ease-in-out;

                & svg {
                    width: 22px;
                    height: 22px;

                    transition: 0.3s ease-in-out;
                }

                &:hover {
                    background: var(--bg-500);
                }
            }
        }
    }

    .asidebarNav {
        width: 100%;

        display: flex;
        flex-direction: column;
        flex-grow: 1;

        .navList {
            width: 100%;

            display: flex;
            flex-direction: column;
            gap: 12px;

            list-style: none;

            .navItem {
                background: var(--bg-400);
                border-radius: 12px;
                padding: 10px 16px;
                transition: 0.3s ease-in-out;

                .ItemLink {
                    display: flex;
                    align-items: center;

                    .linkIcon {
                        margin-right: 10px;
                    }

                    .linkText {
                        transition: opacity 0.3s ease;
                        opacity: 1;
                    }

                    & svg {
                        width: 20px;
                        height: 20px;
                    }
                }

                .navItemButton {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    background: transparent;
                    border: none;
                    gap: 10px;

                    & svg {
                        width: 20px;
                        height: 20px;
                    }
                }

                &:hover {
                    background: var(--bg-500);
                }
            }

            .active {
                background: var(--color-blue);
            }
        }

        .navListSecondary {
            margin-top: auto;
        }

    }
}

.asidebarCollapse {
    width: 80px;
    padding: 14px;

    .asidebarImg {

        & img {
            border-radius: 8px;
        }

        .asidebarCollapse {
            top: 0;
            right: -3.8rem;

            & button svg {
                transform: rotate(180deg);
            }
        }
    }

    .asidebarNav {

        .navList {

            .navItem {

                .ItemLink, .navItemButton {
                    cursor: pointer;

                    .linkIcon {
                        margin-right: 0px;
                        margin: 0 auto;
                    }

                    .linkText {
                        opacity: 0;
                        pointer-events: none;
                        display: none;
                    }
                }
            }
        }
    }
}