.search {
    display: flex;
    flex: 1;
    form {
        width: 100%;
        position: relative;

        & svg {
            position: absolute;
            top: 25%;
            left: 10px;
            pointer-events: none;

            color: var(--text-600);
        }

        & input {
            width: 100%;
            background-color: var(--bg-600);
            border: 1px solid var(--bg-400);
            border-radius: 8px;
            font-size: 1.15rem;
            padding: 8px 8px 8px 2rem;
        }
    }
}

.create {

    .link {
        white-space: nowrap;
        background-color: var(--color-blue);
        border-radius: 8px;
        border: none;
        font-size: 1.15rem;
        padding: 8px 12px;
    }
}