/* ======= [APARTADO DE TABLA] ======= */
/* ======> Diseño de PARA TODAS LAS TABLAS DE ADMINITRACIÓN <===== */


.trainer_list_panel {
    background-color: var(--bg-600);
    backdrop-filter: var(--backdrop-filter);

    border: 1px solid var(--bg-400);
    border-radius: var(--radius-xl);
    
    /* =======<[CONCENTRANDO ESTYLOS GENERALES]>======= */

    .control_panel,
    .navigation_footer {
        padding: 12px 1rem;
    }

    /* =======<[APARTADOS DE PANEL DE CONTROL]>======= */

    .control_panel {
        display: flex;
        align-items: center;
        border-bottom: 1px solid var(--bg-400);



        & p {
            flex: 2;
            color: var(--text-500);
        }

        /* =======<[PANEL DE ACCIONES]>======= */

        .panel_actions {
            flex: auto;
            display: flex;
            gap: 1.25rem;

            .btn {
                background: var(--bg-500);
                border: 1px solid var(--bg-400);
                border-radius: var(--radius-xl);

                padding: 0px 1rem;
            }
        }
    }

    /* =======<[FOOTER PAGINATION]>======= */
    .navigation_footer {
        border-top: 1px solid var(--bg-400);
        text-align: center;
    }

    .table {
        width: 100%;
        border-collapse: collapse;
        overflow: hidden;

        & th,
        & td {
            padding: 1rem;
        }

        & th {
            text-align: left;
        }

        & td {
            .dateName {
                display: grid;
                grid-template-columns: auto;
                gap: 10px;
            }
        }

        & tr {
            transition: background-color 0.2s ease-in-out;

            &:hover {
                background-color: var(--bg-400);
            }
        }

        & tr .action {
            opacity: 0;
            pointer-events: none;
            transform: translateX(10px);
            transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
        }

        & tr:hover .action {
            opacity: 1;
            pointer-events: auto;
            transform: translateX(0);
        }


        .NoEncontrado {
            text-align: center;
        }

        .action,
        .person {
            display: flex;
            align-items: center;
            gap: 1rem;
        }

        .person img {
            display: block;
            border-radius: 9999px;
            object-fit: cover;
        }

        .action {
            transition: 0.3s ease-in-out;

            & button {
                cursor: pointer;
                border: none;
                background: none;

                transition: transform 0.3s ease-in-out;

                & svg {
                    width: 36px;
                    height: 36px;
                }

                &:hover {
                    transform: scale(1.05);
                }
            }

            .eliminar {
                color: var(--color-ro-500);
            }

            .editar {
                color: var(--color-ve-500);
            }


        }

    }
}

/* ======= [REPONSIVILIDAD EN MOVIL 768px] ======= */

@media (max-width:768px) {
    .table {

        & th {
            display: none;
        }

        & tr .action {
            opacity: 1;
            transform: translateY(0px);
            pointer-events: auto;

            &:not(:last-child) td {
                border-bottom: 1px solid var(--bg-400);
            }
        }

        & td {
            display: grid;
            gap: 8ch;
            grid-template-columns: 8ch auto;
            padding: 0.5rem 1rem;

            &:first-child {
                padding-top: 2rem;
            }

            &:last-child {
                padding-bottom: 2rem;
            }

            &::before {
                content: attr(data-cell) ":";
                font-weight: 700;
                text-transform: capitalize;
            }
        }
    }
}