.link {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}


/* ======= [SECCIÓN 1] ======= */

/*  ================================================================================ */
/* ======> Diseño de datos boxeadores (Activo, inactivo, suspendido,retirado) <====== */
/*  ================================================================================ */

.datos {

    .registrados {
        margin-bottom: 1.25rem;
    }

    .stact {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;

        margin-bottom: 2rem;

        .item {
            flex: 1;
            min-width: 200px;
            background-color: var(--bg-600);
            backdrop-filter: var(--backdrop-filter);

            border-radius: 8px;
            border-top: 1px solid var(--bg-400);
            /* Borde arriba */
            border-right: 1px solid var(--bg-400);
            /* Borde a la derecha */
            border-bottom: 1px solid var(--bg-400);

            padding: 1rem;

            & h3 {
                margin-bottom: 10px;
            }
        }

        .activo {
            border-left: 2px solid var(--color-green);
            color: var(--color-green);
        }

        .inactivo {
            border-left: 2px solid var(--color-red);
            color: var(--color-red);
        }

        .suspendido {
            border-left: 2px solid var(--color-blue);
            color: var(--color-blue);
        }

        .pendiente {
            border-left: 2px solid var(--color-yellow);
            color: var(--color-yellow);
        }
    }
}

/* ========================================================= */
/* ====>  SEGUNDA SECCIÓN CREATER BOXER Y SEARCH BOXER <==== */
/* ========================================================= */

.manageBoxers {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;

    margin-bottom: 1.25rem;

    
}

/* ========================================================== */
/* ====>  TERCERA SECCIÓN LISTA DE BOXADOR Y PAGINACIÓN <==== */
/* ========================================================== */

.boxeador {
    display: flex;
    flex-direction: column;
    gap: 12px;
}