.boxersPanel {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    /* ======<[SECCIÓN 1]>======= */
    /* ======<[ Diseño de cargos de boxeadores ]>====== */

    .boxersOverview {
        width: 100%;

        display: flex;
        gap: 1rem;

        .chartContainer {
            text-align: center;
            margin-top: -2rem;

            & h1 {
                color: var(--color-na-500);
                font-size: 3em;
                font-family: var(--fonts-secundaria);
                margin-top: -2rem;
            }

            & p {
                color: var(--text-500);
                font-size: 1em;
            }
        }


        .statsList {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            gap: 1rem;

            .statsItem {
                flex: 1;
                min-width:400px;

                background: var(--bg-600);
                backdrop-filter: var(--filter-lg);
                border-radius: var(--radius-xl);
                padding: 1rem;

                & h1 {
                    font-size: 3em;
                    font-family: var(--fonts-secundaria);
                }

                & p {
                    font-size: 1em;
                    color: var(--text-500);
                }
            }

            .activos {
                box-shadow: inset 0px 0px 20px var(--color-ve-500);
            }

            .inactivos {
                box-shadow: inset 0px 0px 20px var(--color-am-500);
            }

            .suspendidos {
                box-shadow: inset 0px 0px 20px var(--color-ro-500);
            }

            .retirados {
                box-shadow: inset 0px 0px 20px var(--color-na-500);
            }
        }

    }

    /* ======= [SECCIÓN 2] ======= */

    /* ============================================================ */
    /* ======> Diseño de posicionamiento de busqueda y link <====== */
    /* ============================================================ */

    .managePanel {
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        gap: 1.25rem;
    }
}