.boxerPanel {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    /* ======= [SECCIÓN 1] ======= */

    /* ================================================ */
    /* ======> Diseño de cargos de boxeadores <====== */
    /* ================================================ */

    .chargesPanel {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;

        .chargesItem {
            flex: 1;
            min-width: 200px;

            background-color: var(--bg-600);
            backdrop-filter: var(--backdrop-filter);

            border-left: 4px solid var(--bg-300);
            border-radius: var(--radius-xl);

            padding: 12px;

            transition: 0.3s ease-in-out;

            & h2 {
                color: var(--text-500);
                font-size: 1.25rem;
                font-weight: 500;
                margin-bottom: 10px;
            }

            & p {
                font-size: 2rem;
                font-family: var(--fonts-casual);
                letter-spacing: 2px;
            }

            &:hover {
                transform: translateY(-5px);
                box-shadow: 0px 0px 10px var(--bg-300);
            }
        }

        .activo {
            border-left: 4px solid var(--color-green);

            &:hover {
                box-shadow: 0px 0px 10px var(--color-green);
            }
        }

        .inactivo {
            border-left: 4px solid var(--color-yellow);

            &:hover {
                box-shadow: 0px 0px 10px var(--color-yellow);
            }
        }

        .suspendido {
            border-left: 4px solid var(--color-red);

            &:hover {
                box-shadow: 0px 0px 10px var(--color-red);
            }
        }

        .retirado {
            border-left: 4px solid var(--color-blue);

            &:hover {
                box-shadow: 0px 0px 10px var(--color-blue);
            }
        }
    }

    /* ======= [SECCIÓN 2] ======= */

    /* ============================================================ */
    /* ======> Diseño de posicionamiento de busqueda y link <====== */
    /* ============================================================ */

    .managePanel {
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        gap: 1.25rem;
    }
}