.contenedor {
    min-height: 100dvh;
    display: grid;
    grid-template-columns: auto 1fr;
    
    .page {
        padding: 2rem;
    }
}

.login {
    display: grid;
    grid-template-columns: 1fr;


    .loginPage {
        padding: 0px;
    }
}

@media (max-width: 768px)  {
    .contenedor {
        grid-template-columns: 1fr;
    }
}