body {
    min-height: 100dvh;
    display: grid;
    grid-template-columns: auto 1fr;
    
    main {
        padding: 2rem;
    }
}

@media (max-width: 768px)  {
    .contenedor {
        grid-template-columns: 1fr;
    }
}