.trainerPanel {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    .title {
        margin-bottom: 8px;
    }

    .depcrition {
        font-size: 1.4rem;
    }

    /* ======= [SECCIÓN 1] ======= */

    /* ================================================ */
    /* ======> Diseño de cargos de entrenadores <====== */
    /* ================================================ */

    .chargesPanel {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;

        & h2 {
            margin-bottom: 6px;
        }

        & p {
            font-size: 1.6rem;
            font-family: var(--fonts-casual);
            letter-spacing: 2px;
        }

        .chargeItem {
            padding: 12px;
            flex: 1;
            min-width: 240px;

            transition: 0.3s ease-in-out;

            &:hover {
                border-color: var(--bg-300);
                box-shadow: 0 0 8px var(--bg-300);
            }
        }



    }

    /* ======= [SECCIÓN 2] ======= */

    /* ============================================================ */
    /* ======> Diseño de posicionamiento de busqueda y link <====== */
    /* ============================================================ */

    .managePanel {
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        gap: 1.25rem;
    }
}

/* ======= [RESPONSIVE 768px] ======= */

/*  =========================================== */
/* ======> DISEÑO PARA EL APARTADO MOVIL <====== */
/*  =========================================== */

@media (max-width:768px) {

    .trainerPanel {

        /* === [RESPONSIVE - SECCIÓN 1] Ajuste para dispositivos móviles === */

        .chargesPanel {
            display: grid;
            grid-template-columns: auto;
        }
    }

}