.trainerPanel {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    .title {
        margin-bottom: 8px;
    }

    .depcrition {
        font-size: 1.4rem;
    }

    /* ======= [SECCIÓN 1] ======= */

    /* ================================================ */
    /* ======> Diseño de cargos de entrenadores <====== */
    /* ================================================ */

    .trainersOverview {
        width: 100%;
        display: flex;
        gap: 10px;

        .chartContainers {
            text-align: center;
            margin-top: -2rem;

            & h1 {
                color: var(--color-na-500);
                font-size: 3em;
                font-family: var(--fonts-secundaria);
                margin-top: -2rem;
            }

            & p {
                color: var(--text-500);
                font-size: 1em;
            }

        }

        .statsList {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            gap: 1rem;

            .statsItem {
                flex: 1;
                min-width:250px;

                background: var(--bg-600);
                backdrop-filter: var(--filter-lg);
                border:1px solid var(--bg-400) ;
                border-radius: var(--radius-xl);
                padding: 1rem;

                transition: 0.3s ease-in-out;

                & h1 {
                    font-size: 3em;
                    font-family: var(--fonts-secundaria);
                }

                & p {
                    font-size: 1em;
                    color: var(--text-500);
                }

                &:hover {
                    border-color: var(--bg-300);
                }
            } 

        }

    }

    /* ======= [SECCIÓN 2] ======= */

    /* ============================================================ */
    /* ======> Diseño de posicionamiento de busqueda y link <====== */
    /* ============================================================ */

    .managePanel {
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        gap: 1.25rem;
    }
}

/* ======= [RESPONSIVE 768px] ======= */

/*  =========================================== */
/* ======> DISEÑO PARA EL APARTADO MOVIL <====== */
/*  =========================================== */

@media (max-width:768px) {

    .trainerPanel {

        /* === [RESPONSIVE - SECCIÓN 1] Ajuste para dispositivos móviles === */

        .chargesPanel {
            display: grid;
            grid-template-columns: auto;
        }
    }

}