.boxer_main {
    display: flex;
    flex-direction: column;
    gap:3rem;

    padding: 12rem 0  2rem 0;

    .boxer_search {
        & h2 {
            font-size: 2rem;
            text-align: center;
            margin-bottom: 12px;
        }
    }

    .boxer_list {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
        gap: 2rem;
    }

}