& /* ========================================================= */
/* ====>  NOTA ESTA TERMINADO PERO LE FALTA CORRECIONES<==== */
/* ========================================================= */


/* ================================ */
/* ====>  Apartado de reponsi <==== */
/* ================================ */

.profileWrapper {
    max-width: 1080px;
    width: 90%;

    margin: 0 auto;
    padding: 8rem 0;

    display: flex;
    flex-direction: column;
    gap: 3rem;

    /* perfil principal del boxeador */

    .profile {
        display: flex;
        gap: 2rem;

        .profileImg {
            max-width: 50%;
            flex: 0 0 50%;

            & img {
                width: 100%;
                height: auto;
                display: block;
                overflow: hidden;
                object-fit: cover;
                border-radius: 1rem;
            }

            /* nombre y estado de boxeador  */

            .profileIndetification {
                display: flex;
                justify-content: space-between;
                align-items: center;


                background-color: var(--bg-600);
                backdrop-filter: blur(5px);
                box-shadow:0 0 10px #1c1c1d;

                
                border: 1px solid var(--bg-400);
                border-radius: 1rem;

                margin-bottom: 12px;
                padding: 8px 12px;

                & h2 {
                    font-size: 1.55rem;
                }

                & ul {
                    list-style: none;
                    display: flex;
                    gap: 1rem;

                    li {
                        font-size: 1em;
                    }

                    .activo {
                        color: var(--color-ve-500);
                    }

                    .inactivos {
                        color: var(--color-na-500);
                    }

                    .retirados {
                        color: var(--color-am-500);
                    }

                    .Maculino {
                        color: var(--color-az-500);
                    }

                    .Femenino, .suspendidos {
                        color: var(--color-ro-500);
                    }
                }
            }
        }

        .profileDetails {
            max-width: 50%;
            flex: 0 0 50%;

            display: flex;
            flex-direction: column;
            gap: 1rem;

            .detailsInfo {
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
                gap: 1rem;

                background: var(--bg-600);
                backdrop-filter: var(--filter-lg);
                border: 1px solid var(--bg-400);
                border-radius: var(--radius-xl) 0;
                padding: 1rem;

                .infoItem {

                    .name {
                        font-size: 1.10em;
                        color: var(--color-na-500);
                    }

                    .value {
                        font-size: 1em;
                    }
                }
            }
        }

    }

}


/* ================================ */
/* ====>  Apartado de reponsi <==== */
/* ================================ */

@media (max-width: 700px) {

    .boxeador {

        .profile {
            display: flex;
            flex-direction: column;
            gap: 20px;

            .profile__entrenador {
                order: 4;
            }

            .profile__stats  {
                order: 6;
            }

            .profile__info {
                display: flex;
                flex-direction: column;
            }
        }
    }
}