& /* ========================================================= */
/* ====>  NOTA ESTA TERMINADO PERO LE FALTA CORRECIONES<==== */
/* ========================================================= */


/* ================================ */
/* ====>  Apartado de reponsi <==== */
/* ================================ */

.boxeador {
    max-width: 1200px;
    width: 90%;

    margin: 0 auto;
    padding: 8rem 0;

    display: flex;
    flex-direction: column;
    gap: 3rem;

    /* perfil principal del boxeador */

    .profile {

        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, auto);
        gap:12px 24px;

        /* imagen del mismo boxeador */

        .profile__img {
            grid-column: span 2 / span 2;
            grid-row: span 2 / span 2;


            & img {
                width: 100%;
                height: auto;
                display: block;
                overflow: hidden;
                object-fit: cover;
                border-radius: 1rem;
            }

            /* nombre y estado de boxeador  */

            .figcaption {
                display: flex;
                justify-content: space-between;
                align-items: center;

                margin-top: 12px;

                background-color: var(--bg-600);
                backdrop-filter: blur(5px);
                box-shadow:0 0 10px #1c1c1d;

                
                border: 1px solid var(--bg-400);
                border-radius: 1rem;
                padding: 6px 12px;

                & h2 {
                    font-size: 1.55rem;
                }

                & p {
                    font-size: 1.15em;
                }
            }
        }

        .profile__entrenador {
            grid-column: span 2 / span 2;
            grid-column-start: 3;

            .descrition {
                font-size: 1.2rem;
                margin-bottom: 8px;
            }

        }

        .profile__info {
            grid-column: span 2 / span 2;
            grid-row: span 2 / span 2;
            grid-column-start: 3;
            grid-row-start: 2;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap:12px ;

            background-color: var(--bg-600);
            backdrop-filter: blur(5px);
            box-shadow:0 0 10px #1c1c1d;

            border: 1px solid var(--bg-400);
            border-radius: 1rem;
            padding: 1rem;
        }

        /* visualizacion de v-d-e-ns */

        .profile__stats {
            grid-column: span 2 / span 2;
            grid-row-start: 3;

            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(125px, 1fr));
            gap: 1rem;

            .card {
                display: flex;
                flex-direction: column;
                gap: 6px;

                background-color: var(--bg-600);
                backdrop-filter: blur(5px);
                box-shadow:0 0 10px #1c1c1d;
                
                border: 1px solid var(--bg-400);
                border-radius: 1rem;
                padding: 1rem;

                text-align: center;

                & h1 {
                    font-size: 2rem;
                }
            }

            .victorias {
                color: var(--color-green);
            }

            .derrotas {
                color: var(--color-red);
            }

            .empates {
                color: var(--color-blue);
            }

            .ns {
                color: var(--color-yellow);
            }
        }
    }

    /* apartado de combates  */

    .combates {
        width: 100%;

        background-color: var(--bg-600);
        backdrop-filter: blur(5px);
        box-shadow:0 0 10px #1c1c1d;
        
        border-collapse: separate;
        border-spacing: 0;

        .combat_boxer {
            font-size: 2rem;
            margin-bottom: 1.25rem;
        }

        & th, & td {
            padding: 1rem;
        }

        & td {
            color: var(--text-primary);
        }

        & th {
            text-align: left;
            font-weight: bold;
            color: var(--text-contrast);
            border-bottom: 1px solid var(--bg-400);
        }
        

        & tr {
            transition: background-color 0.3s ease, box-shadow 0.3s ease;
            border-radius: 1rem;

            &:hover {
                background-color: var(--bg-500);               
            }
        }
        
    }
}


/* ================================ */
/* ====>  Apartado de reponsi <==== */
/* ================================ */

@media (max-width: 700px) {

    .boxeador {

        .profile {
            display: flex;
            flex-direction: column;
            gap: 20px;

            .profile__entrenador {
                order: 4;
            }

            .profile__stats  {
                order: 6;
            }

            .profile__info {
                display: flex;
                flex-direction: column;
            }
        }
    }
}