.boxeador {
    max-width: 1000px;
    width: 90%;

    margin: 0 auto;
    padding: 8rem 0;

    display: flex;
    flex-direction: column;
    gap: 3rem;

    .profile {

        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, auto);
        gap:12px 24px;

        .profile__img {
            grid-column: span 2 / span 2;
            grid-row: span 2 / span 2;


            & img {
                width: 100%;
                height: auto;
                display: block;
                overflow: hidden;
                object-fit: cover;
                border-radius: 1rem;
            }

            .caption {
                display: flex;
                justify-content: space-between;
                align-items: center;

                margin-top: 12px;

                background-color: var(--bg-600);
                backdrop-filter: blur(5px);
                box-shadow:0 0 10px #1c1c1d;

                
                border: 1px solid var(--bg-400);
                border-radius: 1rem;
                padding: 6px 12px;

                h2 {
                    font-size: 1.55rem;
                }

                p {
                    font-size: 1.15em;
                }

                .Activo {
                    color: var(--color-green) ;
                    text-shadow: 0 0 10px var(--color-green) ;
                }

                .Inactivo {
                    color: var(--color-red) ;
                    text-shadow: 0 0 10px var(--color-red) ;
                }
                .Suspendido {
                    color: var(--color-yellow);
                    text-shadow: 0 0 10px var(--color-yellow) ;
                }

                .Retirado {
                    color: var(--color-blue) ;
                    text-shadow: 0 0 10px  var(--color-blue);
                }
            }
        }

        .profile__entrenador {
            grid-column: span 2 / span 2;
            grid-column-start: 3;

            .descrition {
                font-size: 1.2rem;
                margin-bottom: 8px;
            }

        }

        .profile__info {
            grid-column: span 2 / span 2;
            grid-row: span 2 / span 2;
            grid-column-start: 3;
            grid-row-start: 2;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap:0 10px ;

            background-color: var(--bg-600);
            backdrop-filter: blur(5px);
            box-shadow:0 0 10px #1c1c1d;

            border: 1px solid var(--bg-400);
            border-radius: 1rem;
            padding: 1rem;
        }

        .profile__stats {
            grid-column: span 2 / span 2;
            grid-row-start: 3;

            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
            gap: 1rem;

            .card {
                background-color: var(--bg-600);
                backdrop-filter: blur(5px);
                box-shadow:0 0 10px #1c1c1d;
                
                border: 1px solid var(--bg-400);
                border-radius: 1rem;
                padding: 1rem;

                text-align: center;
            }
        }
    }


    .combates {
        width: 100%;

        background-color: var(--bg-600);
        backdrop-filter: blur(5px);
        box-shadow:0 0 10px #1c1c1d;
        
        border-collapse: separate;
        border-spacing: 0;

        .combat_boxer {
            font-size: 2rem;
            margin-bottom: 1.25rem;
        }

        & th, & td {
            padding: 1rem;
        }

        & td {
            color: var(--text-primary);
        }

        & th {
            text-align: left;
            font-weight: bold;
            color: var(--text-contrast);
            border-bottom: 1px solid var(--bg-400);
        }
        

        & tr {
            transition: background-color 0.3s ease, box-shadow 0.3s ease;
            border-radius: 1rem;

            &:hover {
                background-color: var(--bg-500);
                
            }
        }
        
    }
}